
.messages-container {
    height: 100%;
    border: 1px solid rgba(94, 94, 94, 0.2);
}

.messages {
    overflow-y: scroll;
    width: 100%;
    font-size: 1rem;
    height: 253px;
    padding: 2px 3px;
}

.chat-input {
    width: 100%;
    border: 4px solid #dddddd;
    background: rgba(255,255,255,0.7);
    margin: 0;
    padding: 5px;
}

.msg-chat-message {
    line-height: 17px;
}
.msg-chat-message a{
    color: #1e1e1e;
    font-size: 13px;
    font-weight: 600;
}
.msg-chat-message span {
    color: #1e1e1e;
    font-size: 14px;
}

.msg-admin-message {
    line-height: 17px;
}
.msg-admin-message a{
    color: #ce1e1e;
    font-size: 13px;
    font-weight: 600;
}
.msg-admin-message span {
    color: #5e1e1e;
    font-size: 14px;
}

.msg-moderator-message {
    line-height: 17px;
}
.msg-moderator-message a{
    font-size: 13px;
    color: #1e1e7e;
    font-weight: 600;
}
.msg-moderator-message span {
    color: #1e1e1e;
    font-size: 14px;
}

.msg-info-message {
    line-height: 17px;
}
.msg-info-message span {
    color: #1e5e1e;
    font-size: 14px;
}

.msg-mute-message {
    line-height: 17px;
}
.msg-mute-message a{
    color: #1e3e1e;
    font-size: 13px;
    font-weight: 600;
}
.msg-mute-message span {
    color: #1e3e1e;
    font-size: 14px;
    font-weight: bold;
}
