@import url("reset.css");
@import url("header.css");
@import url("../lib/simplegrid/simplegrid.css");

@font-face {
    font-family: tale;
    src: url(fonts/tale.otf);
}
@font-face {
    font-family: rbn;
    src: url(fonts/RBN.otf);
}

body {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;

    background-color: white;
    color: black;

    height: 100%;
}

a {
    color: #008cba;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
}
b {
    font-weight: bold;
}
i {
    font-style: italic;
}
.content {
    margin-top: 50px;
}

.grid-pad {
    padding-left:0px;
}
/* Graph, Game button and Users playing
   ========================================================================== */

.row1, .row1 > div {
    height: 100%;
}

.game-container {
    padding-bottom: 5rem;
}

.strong {
    font-weight: 600;
}


/* Controls */
.controls {
    padding: 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 20px;
    width: 93%;
    height: 170px;
    background-image: url(../img/controls-back.png);
    min-width: 0;
    border-radius: 3px;
}
.game-states {
    text-align: center;
}
.your-bet {
    height: 134px;
}

.your-bet .small {
    font-size: 11px;
}

.controls input {
    border: 5px solid #dddddd;
    background: rgba(255,255,255,0.7);
    margin: 5px;
    padding: 4px 5px 4px 10px;
    font-size: 18px;
    width: 110px;
    text-align: right;
}

.sticky {
    margin-left: -4px;
    color: #9C9696;
}

.autoplay input, .cashout input{
    width: 18px;
    margin-left: -5px;
}

.autoplay, .cashout {
    font-size: 13px;
    display: inline;
    line-height: 2rem;
}
.bet-grows {
    font-size: 25px;
    text-align: center;
    margin-top: -5px;
}

.big {
    text-align: center;
    font-size: 40px;
    margin: 5px;
    font-weight: bold;
}
.center {
    text-align: center;
}
.place-bet {
    margin-top: 30px;
}
.left-side {
    margin-top: 29px;
}
.bet-span {
    text-align: center;
    font-size: 25px;
    padding-top: 6px;
}
.cash-out {
    margin-top: 13px;
}
.cash-out input{
    margin-left: 10px;
}

.cash-out .information {
    margin-top: -10px;
    margin-bottom: 10px;
}
.game-hash {
    font-size: 9px;
}
.green {
    color: #7cba00;
}
.information {
    text-align: center;
    height: 20px;
}
.information .small {
    font-size: 14px;
    font-weight: 600;
}
.red {
    color: #ba3c12;
}
.auto-cash-out-span {
    font-size: 12px;
    width: 32px;
    float:left;
    margin-top: 8px;
    line-height: 12px;
    text-align: right;
    margin-left: 9px;
    font-weight: bold;
}
.hint {
    font-size: 12px;
    float: left;
    margin-top: 19px;
    background: rgba(0, 142, 253, 0.79);
    color: white;
    font-weight: 500;
    padding: 0px 6px;
    text-align: center;
}
.cancel {
    float: right;
    margin-top: 5px;
    margin-right: -3px;
    font-size: 12px;
    font-weight: 500;
}
.invalid {
    float: right;
    color: red;
    position: absolute;
}
.boxes {
    float: right;
    width: 100px;
    display: inline;
    margin-top: 10px;
}
.boxes label:hover {
    cursor: pointer;
}

.auto-bet {
    float: right;
    margin-right: 59px;
    margin-top: -24px;
}

.auto-bet span {
    font-size: 13px;
}

.auto-bet label:hover {
    cursor: pointer;
}

.button {
    display: block;
    background-position: 0px 0px;
    margin: 0 0 0 15px;
    width: 100px;
    height: 33px;
    text-align: center;
    color: #FFFFFF;
    font-size: 26px;
    padding-right: 10px;
    padding-top: 13px;
    text-transform: uppercase;
}
.big-button {
    position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(243, 150, 47,1);
    font-weight: 300;
    font-size: 2em;
    display: block;
    padding: 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 6px 0px rgb(255, 82, 5), 0px 9px 25px rgba(0,0,0,.1);
    -moz-box-shadow: 0px 6px 0px rgb(255, 82, 5), 0px 9px 25px rgba(0,0,0,.1);
    box-shadow: 0px 6px 0px rgb(255, 81, 20), 0px 9px 25px rgba(0,0,0,0.1);
    width: 320px;
    text-align: center;
}

.big-button:active {
    -webkit-box-shadow: 0px 3px 0px rgb(186, 60, 18), 0px 3px 6px rgba(0,0,0,.2);
    -moz-box-shadow: 0px 3px 0px rgb(186, 60, 18), 0px 3px 6px rgba(0,0,0,.2);
    box-shadow: 0px 3px 0px rgb(186, 60, 18), 0px 3px 6px rgba(0,0,0,0.2);
    position: relative;
    top: 6px;
}

.big-button-disable {
    position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(168, 168, 168, 1);
    font-weight: 300;
    font-size: 2em;
    display: block;
    padding: 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px
    -webkit-box-shadow: 0px 3px 0px rgb(186, 60, 18), 0px 3px 6px rgba(0,0,0,.2);
    -moz-box-shadow: 0px 3px 0px rgb(186, 60, 18), 0px 3px 6px rgba(0,0,0,.2);
    box-shadow: 0px 3px 0px rgb(102, 102, 102), 0px 3px 6px rgba(0,0,0,0.2);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    top: 6px;
    width: 320px;
    text-align: center;
}

.cash-out .big-button-disable {
    width: 100%;
    height: 60px;
    font-size: 1.5em;
    padding: 18px;
}

.cash-out .big-button {
    width: 100%;
    height: 60px;
    font-size: 1.5em;
    padding: 18px;
    cursor: pointer;
    margin-top: 40px;
}

.cashed-out .cash-out {
    margin-top: 11px;
}
.unselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.unclick {
    cursor: default;
}
/* Game Button */
.game {
    margin-top: -19px;
}
.game-button {
    text-align: center;
    display: block;
    min-width: 100%;
    color: white;
    position: relative;
    cursor: pointer;
    padding: 7px;
    font-weight: 500;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.game-button:hover {
    font-weight: 300;
}

.login {
    margin-left: 150px;
}

.split-button {
    display: block;
    height: 100%;
    width: 2.75rem;
    position: absolute;
    right: 0;
    top: 0;
    border-left: solid 1px;
    border-left-color: rgba(255,255,255,0.5);
    font-size: 30px;
    font-weight: 900;
}

.playing {
    background-color: #368a55;
}

.will-join {
    background-color: rgba(69, 34, 126, 0.82);
}

.time-out {
    background-color: #ba3c12;
}

.not-enough-money {
    background-color: grey;
}

.not-logged {
    background-color: grey;
}


/* Advanced options button */

.advanced-options {
    height: 4rem;
    font-size: 16px;
    text-align: center;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-right: 2.75rem;
}

.adv-opt-playing {
    border: #368a55 2px solid;
}

.adv-opt-place-bet {
    border: #ff8100 2px solid;
}

.adv-opt-will-join {
    border: rgba(69, 34, 126, 0.82) 2px solid;
}

.adv-opt-time-out {
    border: #ba3c12 2px solid;
}

.adv-opt-not-enough-balance {
    border: grey 2px solid;
}

.adv-opt-not-logged {
    border: grey 2px solid;
}

.advanced-options > div, .advanced-options > input {
    display: inline-block;
    height: 2rem;
}

@media only screen and (max-width: 40em) {
    .advanced-options {
        height: 8rem;
    }
}

/* Game Button */

.game-button {
    text-align: center;
    display: block;
    min-width: 100%;
    color: white;
    position: relative;
    cursor: pointer;
    padding: 7px;
    font-weight: 500;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.game-button:hover {
    font-weight: 300;
}

.login {
    margin-left: 150px;
}

.split-button {
    display: block;
    height: 100%;
    width: 2.75rem;
    position: absolute;
    right: 0;
    top: 0;
    border-left: solid 1px;
    border-left-color: rgba(255,255,255,0.5);
    font-size: 30px;
    font-weight: 900;
}

.playing {
    background-color: #368a55;
}

.will-join {
    background-color: rgba(69, 34, 126, 0.82);
}

.time-out {
    background-color: #ba3c12;
}

.not-enough-money {
    background-color: grey;
}

.not-logged {
    background-color: grey;
}


/* Advanced options button */

.advanced-options {
    height: 4rem;
    font-size: 16px;
    text-align: center;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-right: 2.75rem;
}

.adv-opt-playing {
    border: #368a55 2px solid;
}

.adv-opt-place-bet {
    border: #ff8100 2px solid;
}

.adv-opt-will-join {
    border: rgba(69, 34, 126, 0.82) 2px solid;
}

.adv-opt-time-out {
    border: #ba3c12 2px solid;
}

.adv-opt-not-enough-balance {
    border: grey 2px solid;
}

.adv-opt-not-logged {
    border: grey 2px solid;
}

.advanced-options > div, .advanced-options > input {
    display: inline-block;
    height: 2rem;
}

@media only screen and (max-width: 40em) { 
    .advanced-options {
        height: 8rem;
    }
}


/* Auto Cash Out */

.tabs {
    margin-top: -33px;
}

.autocash-selector-container {
    float: right;
}

.autocash-selector {
    display: inline-block;
    text-align: right;
}

.selector-qty {
    margin-right: .5rem;
}

.autocash-selector > span, .autocash-selector > a{
    line-height: 2rem;
}

.cash-selector-btn {
    cursor: pointer;
    margin-right: 0.5rem;
}

.selector-qty {

}

.selector-input {
    width: 10rem;
}

.selector-slider {
    vertical-align: middle;
    width: 10rem;
}

.btn-disabled {
    opacity: 0.5;
}

.login {
    margin-top: 50px;
    width: 320px;
}
.register {
    float:right;
    margin-top: 6px;
    font-size: 15px;
}
@media only screen and (max-width: 40em) { 
    .selector-input {
        width: 5rem;
    }

    .selector-slider {
        width: 5rem;
    }
}


/* Auto play */

@media only screen and (max-width: 40em) { 
    .autoplay {
        float: none;
        display: block !important;
        text-align: right;
    }
}

/* Users playing + Users Summary */

.players {
    height: 100%;
}

.users-playing-container, .users-cashed-container {
    text-align: center;
    border: 1px solid rgba(94, 94, 94, 0.2);
    margin-top: 1rem;
}

.users-playing, .users-summary { /* table */
    width: 100%;
    font-weight: 500;
    table-layout: fixed;
}

.users-playing thead, .users-summary thead {
    border-bottom: 1px solid rgba(94, 94, 94, 0.2);

}

.users-playing thead tr, .users-summary thead tr {
    position: relative;
    display: block;
}

.users-playing tbody, .users-summary tbody {
    display: block;
    overflow: auto;
    height: 15rem;
}

.users-playing tbody tr, .users-summary tbody tr {
    width: 100%;
    display: table-row;
}

.users-playing td, .users-playing th, .users-summary td, .users-summary th{
    font-size: 1rem;
    height: 1rem;
    overflow: hidden;
    text-align: left;
    font-weight: 400;
    font-size: 0.8rem;
}

.users-summary tr:nth-of-type(even), .users-playing tr:nth-of-type(even) {
    background: #f9f9f9;
}


/* Users playing */
.users-playing td:nth-child(1), .users-playing th:nth-child(1) { width: 90px; padding-left: 6px; }
.users-playing td:nth-child(2), .users-playing th:nth-child(2) { width: 70px; }
.users-playing td:nth-child(3), .users-playing th:nth-child(3) { width: 80px; }
.users-playing td:nth-child(4), .users-playing th:nth-child(4) { min-width: 90px; }
.users-playing td:nth-child(5), .users-playing th:nth-child(5) { width: 80px; }

.user-won td {
    color: #408609;
}

.user-lost td {
    color: #e03e3e;
}

/* Users Summary */


.users-summary td:nth-child(1), .users-summary th:nth-child(1) { width: 90px; padding-left: 6px;}
.users-summary td:nth-child(2), .users-summary th:nth-child(2) { width: 70px; }
.users-summary td:nth-child(3), .users-summary th:nth-child(3) { width: 80px; }
.users-summary td:nth-child(4), .users-summary th:nth-child(4) { min-width: 90px; }
.users-summary td:nth-child(5), .users-summary th:nth-child(5) { width: 80px; }

.user-playing td {
    color: #ff8100;
}

.user-cashed td {
    color: #408609;
}

/* Chat */

.messages-container {
    height: 100%;
    border: 1px solid rgba(94, 94, 94, 0.2);
}

.messages {
    overflow-y: scroll;
    width: 100%;
    font-size: 1rem;
    height: 253px;
    padding: 2px 3px;
}

.chat-input {
    width: 100%;
    border: 4px solid #dddddd;
    background: rgba(255,255,255,0.7);
    margin: 0;
    padding: 5px;
}
.msg-chat-message {
    line-height: 17px;
}
.msg-chat-message a{
    font-size: 13px;
    color: #1e1e1e;
    font-weight: 600;
}

.msg-chat-message span {
    font-size: 14px;
    color: #1e1e1e;
}

/* Games log */

.games-log{ /* table */
    height: 100%;
    width: 100%;
    text-align: center;
    border: 1px solid rgba(94, 94, 94, 0.2);
}

.games-log th {
    font-weight: 400;
    font-size: 0.8rem;
    text-align: left;
}

.games-log thead {
    border: 1px solid rgba(94, 94, 94, 0.2);
}

.games-log tr:nth-of-type(even) {
    background: #f9f9f9;
}

.games-log tr td {
    font-size: 0.8rem;
    text-align: left;
}

.games-log td:nth-child(1), .games-log th:nth-child(1) {
    padding-left: 6px;
    max-width: 3rem;
}

.games-log tbody tr {
    cursor: pointer;
}

.games-log tbody tr:hover {
    opacity: 0.4;
}

.game-details {
    font-size: 11px;
    color: #408609;
    letter-spacing: 0.03em;
    font-weight: 200;
}

.scroll {
    overflow-y: scroll;
}


/* Tabs */

.log-chat-tabs-container {
    position: relative;
    margin-top: 5px;
    background-color: white;
    color: #32526E;
}

.chat-log-tabs {
    list-style: none;
    padding:0;
    margin:0;
    font-size: 17px;
}

.chat-log-tabs li {
    display: inline;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-right: 1px;
    padding: 3px 0;
}

.chat-log-tabs a {
    padding: 0 1em;
    font-weight: 200;
}

.chat-log-tabs a:hover{
    color: rgba(243, 150, 47, 0.8);
}

.chat-log-tabs-hidden {
    position: fixed;
    bottom: 0;
    right: 0;
}

.chat-log-tabs-hidden li {
    display: inline-block;
    margin-right: 1rem;
}

.tab-active {
    font-weight: 700;

}

.chat-log-tab a{
    color: black;
}

.tab-active a {
    color: rgba(243, 150, 47,1);
    font-weight: 800;
}

/* FOUNDATION MEDIA QUERIES */

@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */


@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */


@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */


@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */