
.messages-container {
    height: 100%;
    position: relative;
    z-index: 1004;
}

.messages {
    overflow-wrap: break-word;
    overflow-y: scroll;
    font-size: 1rem;
    padding-left: 0.2rem;  /* Allow user to resize element */
    position: absolute;
    top: 0rem;
    right: 0;
    left: 0;
    bottom: 1.8rem;
    z-index: 1005;
    /* background-color: #181a1e; */
}

.chat-input {
    width: 100%;
    border: 4px solid #ADADAD;
    background: rgba(255,255,255,0.7);
    margin: 0;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.7);
}

:-moz-placeholder { /* Firefox 18- */
    color: rgba(0, 0, 0, 0.7);
}

::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.7);
}

:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.7);
}

.msg-chat-message {
    color: white;
    line-height: 17px;
    font-size: 14px;
    z-index: 1006;
}

.msg-chat-message a {
    color: white;
    font-size: 13px;
    font-weight: 600;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

/* Links within the message */
.msg-chat-message .msg-body a {
    color: #008cba; /* Blue */
    font-family: Helvetica, Arial, sans-serif;
}
.msg-chat-message .msg-body a:hover {
    text-decoration: underline;
}

.msg-chat-message.msg-admin-message a {
    color: #ce1e1e;
}

.msg-info-message {
    line-height: 17px;
}

.msg-info-message span {
    color: #1e5e1e;
    font-size: 14px;
}

.msg-highlight-message {
    background: #ADD8E6;
}

.msg-mute-message {
    line-height: 17px;
}

.msg-mute-message a{
    color: #1e3e1e;
    font-size: 13px;
    font-weight: 600;
}

.msg-mute-message span {
    color: #1e3e1e;
    font-size: 14px;
    font-weight: bold;
}
