#controls-selector-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#controls-selector-container .buttons-container {
    width: 100%;
    /* z-index: 5001; */
    display: table;
    /* background: rgba(249, 249, 249, 1); */
}

@media handheld, only screen and (max-width: 767px) {
    #controls-selector-container .buttons-container {
        display: none;
    }
}


#controls-selector-container .button-holder {
    display: table-cell;
    width: 50%;
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;
    background-color: #292d35;
}

#controls-selector-container .button-holder:hover a{
    color: rgba(228, 121, 3, 1);
}

#controls-selector-container .button-holder.tab-active {
    background-color: #181a1e;
}

#controls-selector-container .button-holder.tab-active a{
    color: rgba(228, 121, 3, 1);
}

#controls-selector-container .button-holder a{
    line-height: 1.5rem;
    color: #b0b3c1;
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.7rem;
}

/*#controls-selector-container .button-container button{*/
    /*/!* float: right; *!/*/

    /*position: absolute;*/
    /*right: 0;*/
    /*background-color: white;*/
    /*border: 1px solid grey;*/
    /*cursor: pointer;*/
    /*outline: 0;*/
    /*z-index: 50002;*/
/*}*/

#controls-selector-container .controls-widget-container {
    position: absolute;
    top: 1.5rem;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #181a1e;
}

@media handheld, only screen and (max-width: 767px) {
    #controls-selector-container .controls-widget-container {
        top: 0;
    }
}