@import url("reset.css");
@import url("header.css");
@import url("../lib/simplegrid/simplegrid.css");
@import url("chat.css");
@import url("../lib/font-awesome/css/font-awesome.css");
@import url("tabs.css");
@import url("gamesLog.css");
@import url("controlsSelector.css");
@import url("controls.css");
@import url("strategy.css");
@import url("betBar.css");
@import url("chart.css");

/**
Quick Guidelines:
    - when there is a div just to hold a react component
        - inner-container: is the div that the react components returns
        - just-container: is the div that contains a react component
    - when the component is a sibling on a bigger components the react component just returns a container
**/

@font-face {
    font-family: tale;
    src: url(fonts/tale.otf);
}

@font-face {
    font-family: rbn;
    src: url(fonts/RBN.otf);
}

html, body {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    background-color: white;
    color: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

a {
    color: #008cba;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

.strong {
    font-weight: 600;
}

.grid-pad {
  padding-left:0;
  padding-right: 0;
}

@media handheld, only screen and (max-width: 767px) {
    [class*='col-'] {
            padding-right: 0;
            margin-bottom: 0;
        }

    .hide-for-small-only {
             display: none !important;
         }
}

.wrap {
    width: 100%;
    height: 100%;
}

.page-content {
    position: absolute;
    top: 45px;
    bottom: 0;
    right: 0;
    left: 0;
}

/* Overwrite the native focus outline */
input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}



/* ==========================================================================
   Game container
   ========================================================================== */

#game-container {
    width: 100%;
    height: 100%;
}

/* Message bar */

#game-message-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    /* line-height: 1.2rem; */
    bottom: calc(100% - 1.2rem);
    background-color: green;
}

#game-message-container.hide {
    display: none;
}

#game-message-container>span {
    overflow-y: hidden;

}

#game-message-container span>span, #game-message-container span>a {
    color: white;
    font-size: 0.8rem;
    line-height: 1.2rem;
}

#game-message-container div{

}

/* Playable container (The game) */
#game-playable-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#game-playable-container.show-message {
    top: 1.2rem;
}

#game-message-container .close-message{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#game-message-container .close-message i{
    color: white;

    font-size: 0.8rem;
    line-height: 1.2rem;
    padding-right: 0.2rem;
}

#game-message-container {
    text-align: center;

}

#game-inner-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#game-left-container {
    /* position: absolute; */
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 30%; */
    display: table;
    height: 100%;
    width: 70%;
    position: relative;
}

#game-right-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 70%;
    right: 0;
    /* display: table; */
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

/* ==========================================================================
   Tabs container
   ========================================================================== */

#tabs-container {
    /* position: absolute; */
    /* top: 50%; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    display: table-row;
    /* max-height: 50%; */
    /* height: 50%; */
    /* width: 100%; */
    /* position: relative; */
}




/* ==========================================================================
   Chart-Controls container
   ========================================================================== */

#chart-controls-container {
    border-left: 1px solid #ddd;
    min-height: 400px;
    display: table-row;
    height: 50%;
}

#chart-controls-row, #tabs-controls-row {
    display: table-row;

}

#chart-controls-col, #tabs-controls-col {
    display: table-cell;
    height: 50%;
    position: relative;
}

#chart-controls-inner-container {
    min-height: 20rem;
}

#chart-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 40%;
    overflow: hidden; /* TODO: Remove */
    margin: 0.5rem;
}

#controls-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 61%;
    right: 0;
    border-left: 1px solid #ddd;
}






/* Button Styles ??
   ========================================================================== */

/*.sticky {*/
    /*margin-left: -4px;*/
    /*color: #9C9696;*/
/*}*/

/*.cashout input{*/
    /*width: 18px;*/
    /*margin-left: -5px;*/
/*}*/

/*.cashout {*/
    /*font-size: 13px;*/
    /*display: inline;*/
    /*line-height: 2rem;*/
/*}*/
/*.bet-grows {*/
    /*font-size: 25px;*/
    /*text-align: center;*/
    /*margin-top: -5px;*/
/*}*/

/*.big {*/
    /*text-align: center;*/
    /*font-size: 40px;*/
    /*margin: 5px;*/
    /*font-weight: bold;*/
/*}*/

/*.center {*/
    /*text-align: center;*/
/*}*/

/*.place-bet {*/
    /*margin-top: 30px;*/
/*}*/

/*.left-side {*/
    /*margin-top: 29px;*/
/*}*/

/*.bet-span {*/
    /*padding-right: 20px;*/
    /*font-size: 25px;*/
    /*padding-top: 6px;*/
    /*width: 64px;*/
    /*float:left;*/
    /*margin-top: 8px;*/
    /*line-height: 12px;*/
    /*text-align: center;*/
    /*margin-left: 9px;*/
    /*font-weight: bold;*/
/*}*/

/*.cash-out input{*/
    /*margin-left: 10px;*/
/*}*/

/*.cash-out .information {*/
    /*margin-top: -10px;*/
    /*margin-bottom: 10px;*/
/*}*/

/*.hash-text {*/
     /*-webkit-border-radius: 4px 0 0 4px;*/
     /*-moz-border-radius: 4px 0 0 4px;*/
     /*border-radius: 4px 0 0 4px;*/
     /*margin-right: -1px;*/
     /*vertical-align: top;*/
     /*display: inline-block;*/
     /*width: auto;*/
     /*height: 20px;*/
     /*min-width: 16px;*/
     /*padding: 0 5px;*/
     /*font-size: 11px;*/
     /*font-weight: normal;*/
     /*line-height: 20px;*/
     /*text-align: center;*/
     /*text-shadow: 0 1px 0 #ffffff;*/
     /*background-color: #eeeeee;*/
     /*border: 1px solid #ccc;*/
     /*white-space: nowrap;*/
     /*color: #333333;*/
 /*}*/

/*.hash-input {*/
     /*width: 40em;*/
     /*position: relative;*/
     /*margin-bottom: 0;*/
     /*vertical-align: top;*/
     /*-webkit-border-radius: 0;*/
     /*-moz-border-radius: 0;*/
     /*border-radius: 0;*/
     /*font-size: 14px;*/
     /*float: none;*/
     /*margin-left: 0;*/
     /*background-color: #ffffff;*/
     /*border: 1px solid #cccccc;*/
     /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
     /*-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
     /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
     /*-webkit-transition: border linear .2s, box-shadow linear .2s;*/
     /*-moz-transition: border linear .2s, box-shadow linear .2s;*/
     /*-o-transition: border linear .2s, box-shadow linear .2s;*/
     /*transition: border linear .2s, box-shadow linear .2s;*/
     /*height: 20px;*/
     /*padding: 4px 6px;*/
     /*line-height: 20px;*/
     /*color: #555555;*/
     /*margin: 0;*/
 /*}*/

/*@media handheld, only screen and (max-width: 767px) {*/
    /*.hash-input {*/
            /*width: 16em;*/
        /*}*/
/*}*/

/*.hash-copy-cont{*/
     /*display: inline-block;*/
     /*cursor: pointer;*/
 /*}*/

/*.hash-copy {*/
     /*-webkit-border-radius: 0 4px 4px 0;*/
     /*-moz-border-radius: 0 4px 4px 0;*/
     /*border-radius: 0 4px 4px 0;*/
     /*margin-left: -1px;*/
     /*vertical-align: top;*/
     /*display: inline-block;*/
     /*width: auto;*/
     /*height: 20px;*/
     /*min-width: 16px;*/
     /*padding: 0 5px;*/
     /*font-size: 11px;*/
     /*font-weight: normal;*/
     /*line-height: 20px;*/
     /*text-align: center;*/
     /*text-shadow: 0 1px 0 #ffffff;*/
     /*background-color: #eeeeee;*/
     /*border: 1px solid #ccc;*/
     /*white-space: nowrap;*/
     /*color: #333333;*/
 /*}*/

/*@media handheld, only screen and (max-width: 767px) {*/
    /*.hash-copy {*/
       /*width: 5em;*/
    /*}*/
/*}*/

/*.green {*/
    /*color: #7cba00;*/
/*}*/

/*.information {*/
    /*text-align: center;*/
    /*overflow-x: hidden;*/
/*}*/

/*.information .small {*/
    /*font-size: 14px;*/
    /*font-weight: 600;*/
/*}*/

/*.red {*/
    /*color: #ba3c12;*/
/*}*/

/*.auto-cash-out-span {*/
    /*font-size: 12px;*/
    /*width: 64px;*/
    /*float:left;*/
    /*margin-top: 8px;*/
    /*line-height: 12px;*/
    /*text-align: center;*/
    /*margin-left: 9px;*/
    /*font-weight: bold;*/
/*}*/

/*.hint {*/
    /*font-size: 12px;*/
    /*float: left;*/
    /*margin-top: 19px;*/
    /*background: rgba(0, 142, 253, 0.79);*/
    /*color: white;*/
    /*font-weight: 500;*/
    /*padding: 0 6px;*/
    /*text-align: center;*/
/*}*/

/*.cancel {*/
    /*margin-top: 5px;*/
    /*font-size: 12px;*/
    /*font-weight: 500;*/
    /*text-align: right;*/
/*}*/

/*.invalid {*/
    /*float: right;*/
    /*color: red;*/
    /*position: absolute;*/
/*}*/

/*.boxes {*/
    /*float: right;*/
    /*width: 100px;*/
    /*display: inline;*/
    /*margin-top: 10px;*/
/*}*/

/*.boxes label:hover {*/
    /*cursor: pointer;*/
/*}*/

/*.auto-bet-cont label:hover, .auto-bet-cont input:hover {*/
     /*cursor: pointer;*/
 /*}*/


/* ? (Organizing)
   ========================================================================== */

/*.login-container {*/
    /*min-width: 0;*/
    /*padding-left: 2em;*/
/*}*/

/*.login {*/

/*}*/

/*.game {*/
    /*margin-top: -19px;*/
/*}*/

/*.split-button {*/
    /*display: block;*/
    /*height: 100%;*/
    /*width: 2.75rem;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 0;*/
    /*border-left: solid 1px;*/
    /*border-left-color: rgba(255,255,255,0.5);*/
    /*font-size: 30px;*/
    /*font-weight: 900;*/
/*}*/

/*.playing {*/
    /*background-color: #368a55;*/
/*}*/

/*.will-join {*/
    /*background-color: rgba(69, 34, 126, 0.82);*/
/*}*/

/*.time-out {*/
    /*background-color: #ba3c12;*/
/*}*/

/*.not-enough-money {*/
    /*background-color: grey;*/
/*}*/

/*.not-logged {*/
    /*background-color: grey;*/
/*}*/


/* Advanced options button */

/*.advanced-options {*/
    /*height: 4rem;*/
    /*font-size: 16px;*/
    /*text-align: center;*/
    /*border-bottom-right-radius: 3px;*/
    /*border-bottom-left-radius: 3px;*/
    /*margin-right: 2.75rem;*/
/*}*/

/*.adv-opt-playing {*/
    /*border: #368a55 2px solid;*/
/*}*/

/*.adv-opt-place-bet {*/
    /*border: #ff8100 2px solid;*/
/*}*/

/*.adv-opt-will-join {*/
    /*border: rgba(69, 34, 126, 0.82) 2px solid;*/
/*}*/

/*.adv-opt-time-out {*/
    /*border: #ba3c12 2px solid;*/
/*}*/

/*.adv-opt-not-enough-balance {*/
    /*border: grey 2px solid;*/
/*}*/

/*.adv-opt-not-logged {*/
    /*border: grey 2px solid;*/
/*}*/

/*.advanced-options > div, .advanced-options > input {*/
    /*display: inline-block;*/
    /*height: 2rem;*/
/*}*/

/*@media only screen and (max-width: 40em) {*/
    /*.advanced-options {*/
        /*height: 8rem;*/
    /*}*/
/*}*/

/*.game-button {*/
    /*text-align: center;*/
    /*display: block;*/
    /*min-width: 100%;*/
    /*color: white;*/
    /*position: relative;*/
    /*cursor: pointer;*/
    /*padding: 7px;*/
    /*font-weight: 500;*/
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*border-radius: 3px;*/
/*}*/

/*.game-button:hover {*/
    /*font-weight: 300;*/
/*}*/

/*.split-button {*/
    /*display: block;*/
    /*height: 100%;*/
    /*width: 2.75rem;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 0;*/
    /*border-left: solid 1px;*/
    /*border-left-color: rgba(255,255,255,0.5);*/
    /*font-size: 30px;*/
    /*font-weight: 900;*/
/*}*/

/*.playing {*/
    /*background-color: #368a55;*/
/*}*/

/*.will-join {*/
    /*background-color: rgba(69, 34, 126, 0.82);*/
/*}*/

/*.time-out {*/
    /*background-color: #ba3c12;*/
/*}*/

/*.not-enough-money {*/
    /*background-color: grey;*/
/*}*/

/*.not-logged {*/
    /*background-color: grey;*/
/*}*/


/*/!* Advanced options button *!/*/

/*.advanced-options {*/
    /*height: 4rem;*/
    /*font-size: 16px;*/
    /*text-align: center;*/
    /*border-bottom-right-radius: 3px;*/
    /*border-bottom-left-radius: 3px;*/
    /*margin-right: 2.75rem;*/
/*}*/

/*.adv-opt-playing {*/
    /*border: #368a55 2px solid;*/
/*}*/

/*.adv-opt-place-bet {*/
    /*border: #ff8100 2px solid;*/
/*}*/

/*.adv-opt-will-join {*/
    /*border: rgba(69, 34, 126, 0.82) 2px solid;*/
/*}*/

/*.adv-opt-time-out {*/
    /*border: #ba3c12 2px solid;*/
/*}*/

/*.adv-opt-not-enough-balance {*/
    /*border: grey 2px solid;*/
/*}*/

/*.adv-opt-not-logged {*/
    /*border: grey 2px solid;*/
/*}*/

/*.advanced-options > div, .advanced-options > input {*/
    /*display: inline-block;*/
    /*height: 2rem;*/
/*}*/

/*@media only screen and (max-width: 40em) { */
    /*.advanced-options {*/
        /*height: 8rem;*/
    /*}*/
/*}*/


/* Auto Cash Out */

/*.tabs {*/
    /*margin-top: -33px;*/
/*}*/

/*.autocash-selector-container {*/
    /*float: right;*/
/*}*/

/*.autocash-selector {*/
    /*display: inline-block;*/
    /*text-align: right;*/
/*}*/

/*.selector-qty {*/
    /*margin-right: .5rem;*/
/*}*/

/*.autocash-selector > span, .autocash-selector > a{*/
    /*line-height: 2rem;*/
/*}*/

/*.cash-selector-btn {*/
    /*cursor: pointer;*/
    /*margin-right: 0.5rem;*/
/*}*/

/*.selector-qty {*/

/*}*/

/*.selector-input {*/
    /*width: 10rem;*/
/*}*/

/*.selector-slider {*/
    /*vertical-align: middle;*/
    /*width: 10rem;*/
/*}*/

/*.btn-disabled {*/
    /*opacity: 0.5;*/
/*}*/

/*.register {*/
    /*float:right;*/
    /*margin-top: 6px;*/
    /*font-size: 15px;*/
/*}*/

/*@media only screen and (max-width: 40em) { */
    /*.selector-input {*/
        /*width: 5rem;*/
    /*}*/

    /*.selector-slider {*/
        /*width: 5rem;*/
    /*}*/
/*}*/

/* ==========================================================================
   Players List
   ========================================================================== */

/*.players {*/
    /*height: 100%;*/
/*}*/

/*@media handheld, only screen and (max-width: 767px) {*/
    /*.players {*/
        /*margin-top: 2em;*/
    /*}*/
/*}*/

.users-playing-container, .users-cashed-container {
    text-align: center;
    /* border-left: 1px solid rgba(94, 94, 94, 0.2); */
    overflow-y: scroll;
    /* height: 100%; */
    /* display: table-row; */
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0.3rem;
}

.users-playing, .users-summary { /* table */
    width: 100%;
    font-weight: 500;
    table-layout: fixed;
}

.users-playing thead, .users-summary thead {
    border-bottom: 1px solid rgba(94, 94, 94, 0.2);

}

.users-playing thead tr, .users-summary thead tr {
}

.users-playing tbody, .users-summary tbody {
    overflow: auto;
}

.users-playing tbody tr, .users-summary tbody tr {
    width: 100%;
}

.users-playing td, .users-playing th, .users-summary td, .users-summary th{
    height: 1rem;
    overflow: hidden;
    text-align: left;
    font-weight: 400;
    font-size: 0.8rem;
}

.bonus-projection {
    opacity: 0.5;
}

.users-summary tr:nth-of-type(even), .users-playing tr:nth-of-type(even) {
    background: #f9f9f9;
}


.users-playing td, .users-playing th, .users-summary td, .users-summary th {
    padding-left: 6px;
    max-width: 3rem;
}

/* Playing/Lost/Cashed/Won Colors
   ========================================================================== */

tr.user-won.me {
    background-color: rgba(12, 203, 30, .2);
}
.user-won td, .user-won td a {
    color: #408609;
}

tr.user-lost.me {
    background-color: rgba(224, 62, 62, .2);
}
.user-lost td, .user-lost td a {
    color: #e03e3e;
}

tr.user-playing.me {
    background-color: rgba(255, 129, 0 , .2);
}
.user-playing td, .user-playing td a {
    color: #ff8100;
}

tr.user-cashed.me {
    background-color: rgba(12, 203, 30, .2);
}
.user-cashed td, .user-cashed td a {
    color: #408609;
}


/* ==========================================================================
   Strategy Editor
   ========================================================================== */

/*.strategy-container {*/
    /*height: 100%;*/
    /*font-size: 0.9em;*/
    /*color: black;*/
    /*margin-bottom: 1em;*/
/*}*/


