{{##def.page_title = 'Bitcoin Gambling' #}}

{{##def.content:
<div class="row faq panel radius">
    <h3>Bitcoin Gambling</h3>


    <p>
        <img src="/img/gamble.png" alt="bitcoin gambling" style="float:left; margin-right: 15px" />
    Bitcoin gambling is a general term for any type of gambling wherein bets are placed in units of bitcoins as opposed
    to a fiat currency or any other assets. Bitcoin gambling is almost exclusively
        <a href="http://en.wikipedia.org/wiki/Online_gambling">online gambling</a> in bitcoin gambling
    establishments that allow the depositing, withdrawing and gambling of bitcoins. <a href="https://bitcoin.org/">Bitcoin</a> itself is a virtual currency,
    that provides numerous advantages to gaming establishments, who can can pass these on to their clientele.
    </p>

    <br style="clear: both">
    <p>

    In much of the world, gambling is arduously regulated, heavily taxed and often banned for ethical and religious reasons.
    Bitcoin however allows gambling establishments to work around or ignore much of these restrictions, primarily as bitcoins
    are easily and securely transferred without requiring permission from third parties, they are pseudo-anonymous and don’t require
    providing sensitive information such as credit card numbers or government ID to process.</p>

    <p>
    Many gamblers now prefer to gamble with bitcoin for privacy, cost and security reasons–and buy and sell bitcoins on
    exchanges, at ATMs or from local dealers on an as-needed basis.
    </p>

    <h4>Regulation</h4>
    <p>Traditionally gamblers have leaned on government regulation in order to ensure that games are fair, and payouts are
        made. However, in the Wild West of bitcoin gambling instead of regulations, players place greater trust in the
        gambling operators–and accordingly operators go to great lengths to win gamblers' trust. One of the most common ways to do so
        is to offer <strong>provably fair</strong> games, which allow the casino to give a mathematical assurance to the
        gambler that the game is not rigged. Few gamblers are in a position to validate such a guarantee, but rely on the
        opinion and general consensus in internet communities.
    </p>

    <h4>Cost Structure</h4>
    <div style="float:right; width: 300px; padding: 15px">
        <img src="/img/casino.png" style="margin-bottom: 5px" alt="expensive casino" /><br />
        Bitcoin casinos don't needs to spend 9 billion USD on <a href="http://en.wikipedia.org/wiki/CityCenter">monsters</a> like this
    </div>
   <p>
       Bitcoin gambling establishments have an extremely untraditional cost structure, they don’t need to build a fancy casino
       in a nice area, nor do they require hundreds of staff, or need to spend millions in regulatory compliance. Even transaction
       fees are largely eliminated: Typically the cost for accepting VISA or PayPal transactions, for example, is larger than 2 % and acceping and holding large amounts of cash requires guards and
       physical transportation.
   </p>
    <br style="clear: both">

    <h4>Pricing and Competition</h4>
    <p>Bitcoin is tied neither a country nor other currency and as such bitcoin gambling establishments are almost universally
        global, and as such compete for a global audience. Because of their dramatically reduced cost structure, they are
        able to compete by offering razor-thin house odds. It is quite typical to find house odds between 0.5 % and 1 %–while a physical casino will have often have games with house odds beyond 15 %. Certain games like
        <a href="https://www.bustabit.com/">bustabit</a> offer variable odds, where small wagers, which do not add much
        variance for the company, can play with house odds as low as 0.1 % (although they may be scaled upwards for larger and thus riskier bets).
        </p>

    <h4>Game Options</h4>
    <p>Choice is another major driving factor for bitcoin gamblers, with hundreds of games being available,
        including traditional casino games such as <a href="http://en.wikipedia.org/wiki/Online_poker">poker</a> and roulette. However, unique to bitcoin are “dice games”,
        which advocates regard as a very pure form of gambling, while detractors call boring and spreadsheet-like.
        Dice games allow the gambler to customize their bet size and how much they want to win–and the game calculates
        a fair probability for them, so that the more they stand to win, the less chance they have of doing so. Because
        the traditional barriers to entry are removed, a lot of unique games are only available to play with bitcoin
        (such as bustabit).
    </p>
</div>

#}}
{{#def.include('./template/main')}}
