{{##def.page_title = 'Bitcoin Gambling' #}}

{{##def.content:
<div class="row faq panel radius">
    <h3>Bitcoin Gambling</h3>


    <p>
        <img src="/img/gamble.png" alt="bitcoin gambling" style="float:left; margin-right: 15px" />
    Bitcoin gambling is a general term for any type of gambling wherein bets are placed in units of bitcoins as opposed
    to a fiat currency or an other assets. Bitcoin gambling is almost exclusively
        <a href="http://en.wikipedia.org/wiki/Online_gambling">online gambling</a> in bitcoin gambling
    establishment that allow the depositing, withdrawing and gambling using bitcoin. <a href="https://bitcoin.org/">Bitcoin</a> itself is a virtual currency,
    that has provides numerous advantages to gaming establishments, who can can pass these on their clientele.
    </p>

    <br style="clear: both">
    <p>

    In much of the world, gambling is arduously regulated, heavily taxed and often banned for ethical and religious reasons.
    Bitcoin however allows gambling establishments to work around or ignore much of these restrictions, primarily as bitcoin’s
    are easily and securely transferred without requiring permission from third parties, they are pseudo-anonymous and don’t
    sending sensitive information, such as credit card numbers or ID to process.</p>

    <p>
    Many gamblers now prefer to gamble with bitcoin for privacy, cost and security reasons -- and buy and sell bitcoins on
    exchanges, atms, and local dealers on an as-needed basis.
    </p>

    <h4>Regulation</h4>
    <p>Traditionally gamblers have leaned on government regulation in order to ensure that games are fair, and payouts are
        made. However, in the wild-west of bitcoin gambling instead of regulations, players place greater trust in the
        gambling operators -- and accordingly operators go to great lengths to win gamblers trust. One of the most common
        is to offer <strong>provably fair</strong> games, which allow the casino to give a mathematical assurance to the
        gambler that the game is not rigged. Few gamblers are in a position to validate such a guarantee, but rely on the
        opinion and general consensus in internet communities.
    </p>

    <h4>Cost Structure</h4>
    <div style="float:right; width: 300px; padding: 15px">
        <img src="/img/casino.png" style="margin-bottom: 5px" alt="expensive casino" /><br />
        Bitcoin casinos don't needs to spend 9 billion USD on <a href="http://en.wikipedia.org/wiki/CityCenter">monsters</a> like this
    </div>
   <p>
       Bitcoin gambling establishments have an extremely different cost structure, they don’t need to build a fancy casino
       in a nice area, nor dothey require hundreds of staff, or spend millions in regulatory compliance. Even transaction
       fees are almost eliminated (A typical amount  to pay to accept visa/paypal is over 2%) and cash requires guards and
       physical transportation.
   </p>
    <br style="clear: both">

    <h4>Pricing and Competition</h4>
    <p>Bitcoin is tied neither a country or currency, and as such bitcoin gambling establishments are almost universally
        global, and as such compete for a global audience. Because of their dramatically reduced cost structure, they are
        able to compete by offering razor house odds. It’s is quite typical to find house odds between 0.5% and 1% --
        while a physical casino will have often have games with house odds over 15%. Certain games like
        <a href="https://www.moneypot.com/">Money Pot</a> offer variable odds, where small wins, which do not add much
        variance to the company can play with a house odds as low, and lower than as 0.1% (although scale up to 1% edge
        for larger, riskier bets)
        </p>

    <h4>Game Options</h4>
    <p>Choice is another major driving to bitcoin gamblers, with hundreds of games being available,
        ranging from traditional casino games such as <a href="http://en.wikipedia.org/wiki/Online_poker">poker</a> and roulette. However, unique to bitcoin are “dice games”
        which advocates regard as a very pure form of gambling, while detractors call boring and spreadsheet like.
        Dice games allow the gambler to customize their bet-size and how much they want to win -- and the game calculates
        a fair probability for them, such that the more you want to win, the less chance you have of winning is. Because
        the traditional barriers to entry are removed, a lot of unique games are only available to play with bitcoin
        (such as MoneyPot).
    </p>
</div>

#}}
{{#def.include('./template/main')}}
