{{##def.page_title = 'Forgot Password' #}}

{{##def.content:
<div class="">
    <form action="/sent-recover" method="post">
        <div class="row">
            <div class="large-6 large-offset-2 columns">
                <label>Enter your username
                    <input type="text" name="username" required/>
                    <input class="border-button right green" type="submit" value="recover it"/>
                </label>
            </div>
        </div>
    </form>
</div>
#}}

{{#def.include('./template/main_old')}}