{{##def.page_title = 'The Social Bitcoin Gambling Game' #}}

{{##def.content:
    <div class="index">
        <div class="i-content">
            <div class="row">
                <h4 class="sub-title">
                    The Gambling Game
                </h4>
            </div>
            <div class="large-12 columns">
                <a href="/play" class="play green border-button">
                    Play Now!
                </a>
            </div>
            <div class="columns large-10">
                <ul class="inline-list right menu">
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/leaderboard">Top Players</a></li>
                </ul>
            </div>


            <div class="features row show-for-large-up">

                <div class="feature columns large-3 small-6">
                    <div>
                        <img src="img/icons/dart.png" alt=""/>
                    </div>
                    <h4>99% Luck<br />&nbsp;1% Skill</h4>
                    <p class="text">
                        Play for fun! Or play to win! <br>
                        <a href="/guide">See strategy guide</a>
                    </p>
                </div>
                <div class="feature columns large-3 small-6">
                    <div>
                        <img src="img/icons/chart.png" alt=""/>
                    </div>
                    <h4>Real Time</h4>
                    <p class="text">
                        Watch your fortune rise<br > in real time!
                    </p>
                    <p class="text">Or if real-time isn't for you<br> give <a href="https://dice.ninja/">dice.ninja</a> a try</p>
                </div>
                <div class="feature columns large-3 small-6">
                    <div>
                        <img src="img/icons/secure.png" alt=""/>
                    </div>
                    <h4>Secure</h4>
                    <p class="text">
                        <a href="faq#offline">Offline storage</a><br>
                        <a href="faq#fair">Provably fair</a><br>
                        Razor thin <a href="faq#odds">house edge</a>
                    </p>
                </div>
                <div class="feature columns large-3 small-6">
                    <div>
                        <img src="img/icons/multiplayer.png" alt=""/>
                    </div>
                    <h4>Social</h4>
                    <p class="text">
                        Play with friends<br />
                        and beat your foes
                    </p>
                </div>

            </div>
            <div class="features row show-for-medium-down">
                <div class="row">
                    <div class="feature columns large-3 small-6">
                        <div>
                            <img src="img/icons/dart.png" alt=""/>
                        </div>
                        <h4>99% Luck<br />&nbsp;1% Skill</h4>
                        <p class="text">
                            Play for fun! Or play to win! <br>
                            <a href="/guide">See strategy guide</a>
                        </p>
                    </div>
                    <div class="feature columns large-3 small-6">
                        <div>
                            <img src="img/icons/chart.png" alt=""/>
                        </div>
                        <h4>Real Time</h4>
                        <p class="text">
                            Watch your fortune rise (or crash) in real time
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="feature columns large-3 small-6">
                        <div>
                            <img src="img/icons/secure.png" alt=""/>
                        </div>
                        <h4>Secure</h4>
                        <p class="text">
                            <a href="faq#offline">Offline storage</a><br>
                            <a href="faq#fair">Provably fair</a><br>
                            Razor thin <a href="faq#odds">house edge</a>
                        </p>
                    </div>
                    <div class="feature columns large-3 small-6">
                        <div>
                            <img src="img/icons/multiplayer.png" alt=""/>
                        </div>
                        <h4>Social</h4>
                        <p class="text">
                            Play with friends<br />
                            and beat your foes
                        </p>
                    </div>
                </div>

            </div>
            <h5 class="faucet">Claim 2 free bits an hour, so you can always play for fun and without commitment!</h5>
        </div>
    </div>
#}}
{{#def.include('./template/main')}}

