    <header>
        <nav class="nav-top-bar">

            <div class="title">
                <a href="/">
                    <h1 class="hide-for-small-only">bustabit</h1>
                </a>
            </div>

            {{?it.amount}}
            <div class="table-title">
                <h2> {{=it.amount/100}} Bit Table </h2>
            </div>
            {{?}}

            <div class="show-for-small-up user-login">
                {{?it.user}}
                <div class="balance-bits">Bits: <span id="balance_bits">{{#def.format:{n: it.user.balance_satoshis, decimals:2} }}</span></div>
                <div class="username"><a href="/account">{{=it.user.username}}</a></div>
                {{??}}
                <a href="/register">Register</a>
                <a href="/login">Log in</a>
                {{?}}
            </div>

        </nav>
    </header>