{{##def.format:param:{{=(param.n/100).toFixed(param.decimals).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}}#}}

<!DOCTYPE html>
<html>
    {{#def.include('head')}}
<body>

<div class="wrap">
    {{#def.include('header')}}

    {{? it.warning }}
        <div class="warning">{{!it.warning}}</div>
    {{?? it.success}}
        <div class="success">{{!it.success}}</div>
    {{??it.user }}

        {{?it.user.error}}

            <div class="warning">
                {{!it.user.error}}
            </div>
        {{??it.user.advice == 'new'}}
        <div class="success">
            Welcome to MoneyPot, to start you have 2 free bits, bits
            <a href="/request">you can request them here</a> or you can just watch the current games... have fun :D

        </div>
        {{??it.user.advice == 'received'}}
        <div class="success">
            Congratulations you have been credited 2 free bits. Join a table, and have some fun!
        </div>
        {{?? it.user.advice}}
        <div class="success">
           {{!it.user.advice}}
        </div>
        {{??it.user && it.user.balance_satoshis < 100 }}
            {{?it.user.eligible == true}}
                <div class="success"><a href="/request">Collect your two free bits!</a></div>
            {{?}}
        {{?}}

    {{?}}

    <div class="content">
        {{#def.content || ""}}
    </div>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-54068823-1', 'auto');
        {{? it.user }}
        ga('set', '&uid', '{{=it.user.username}}');
        {{?}}
        ga('send', 'pageview');

    </script>



</div>

</body>
</html>